<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="inbox"></ion-back-button>
        </ion-buttons>
        <ion-item *ngIf="chat" lines="none">
            <app-avatar [avatarUrl]="chat.user.avatarUrl" [routerLink]="'/profile/'+ chat.user.id"
                        slot="start"></app-avatar>
            {{chat.user.name}}
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="full-height">
        <ion-row class="full-height">
            <ion-col size-md="6" offset-md="3" class="full-height">
                <ion-infinite-scroll position="top" disabled="true" (ionInfinite)="loadPrevious($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
                <app-message *ngFor="let message of messages" [chatContent]="message"
                             [viewerId]="viewerId"></app-message>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="scrollToBottom()" color="transparent">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar color="none">
        <ion-row>
            <ion-col size-md="7" offset-md="2" size="10" class="full-height">
                <ion-textarea autosize maxRows="8"></ion-textarea>
            </ion-col>
            <ion-col size-md="1" size="2">
                <ion-button (click)="sendMessage($event)" class="full-height" fill="clear" style="width: 100%">
                    <ion-icon slot="icon-only" name="send-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
