<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-no-padding">
            <ion-grid>
                <ion-row>
                    <ion-col size="auto">
                        <ion-avatar>
                            <ion-img [src]="chat.user.avatarUrl"></ion-img>
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="auto">
                        {{chat.user.name}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="full-height">
        <ion-row class="messages-container">
            <ion-col size-md="8" offset-md="2" class="full-height">
                <ion-list class="full-height">
                    <!--messages here-->
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="input-area">
            <ion-col size-md="6" offset="3" class="full-height">

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
