<ion-header>
    <ion-toolbar>
        <ion-title>Inbox</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="full-height">
        <ion-row class="full-height">
            <ion-col size-md="4" offset-md="4" class="full-height">
                <ion-list class="ion-no-padding full-height">
                    <ion-item *ngFor="let chat of chats" routerLink="/chat/{{chat.user.id}}">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="3">
                                    <ion-avatar routerLink="/profile/{{chat.user.id}}"
                                                (click)="stopPropagation($event)">
                                        <ion-img [src]="chat.user.avatarUrl"></ion-img>
                                    </ion-avatar>
                                </ion-col>
                                <ion-col size="9" class="ion-text-center ion-text-justify">
                                    {{chat.user.name}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
