<ion-header>
    <ion-toolbar>
        <ion-title>Inbox</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="full-height">
        <ion-row class="full-height">
            <ion-col size-md="4" offset-md="4" class="full-height">
                <ion-list class="ion-no-padding full-height">
                    <ion-item *ngFor="let chat of chats" routerLink="/chat/{{chat.user.id}}">
                        <app-avatar (click)="stopPropagation($event)" [avatarUrl]="chat.user.avatarUrl"
                                    routerLink="/profile/{{chat.user.id}}"
                                    slot="start"></app-avatar>
                        <ion-label>
                            <h1>{{chat.user.name}}</h1>
                            <p>{{chat.lastMessage | date: 'H:mm'}} {{chat.lastMessageText}}</p>
                        </ion-label>
                        <ion-badge *ngIf="chat.unreadCount" color="medium" slot="end">{{chat.unreadCount}}</ion-badge>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
