<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="displayBackButton" slot="start">
            <ion-back-button [defaultHref]="'/inbox'"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="user">{{user.name}}</ion-title>
        <ion-button *ngIf="isOwnProfile" slot="end" fill="clear" routerLink="/settings">
            <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!userNotFound">
    <ion-grid *ngIf="user">
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-card>
                    <ion-card-content>
                        <app-profile-head [user]="user" [isOwnProfile]="isOwnProfile"></app-profile-head>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-loading *ngIf="!user"></app-loading>
</ion-content>
<ion-content *ngIf="userNotFound">
    User not found
</ion-content>
