<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col>
            <app-avatar [avatarUrl]="user.avatarUrl"></app-avatar>
        </ion-col>
        <ion-col routerLink="/connection-list/{{user.id}}/followers">
            <ion-row>{{user.followersAmount}} followers</ion-row>
        </ion-col>
        <ion-col routerLink="/connection-list/{{user.id}}/following">
            <ion-row>{{user.followingAmount}} following</ion-row>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-text class="user-bio">{{user.bio}}</ion-text>
    </ion-row>
    <ion-row *ngIf="isOwnProfile">
        <ion-button (click)="editBio($event)" color="medium" fill="clear" size="small">
            Edit your profile
        </ion-button>
    </ion-row>
    <ion-row *ngIf="!isOwnProfile && user.userMeta">
        <ion-item *ngIf="!(user.userMeta.blacklistedByQueryingPerson || user.userMeta.queryingPersonBlacklisted)"
                  class="full-width" lines="none">
            <ion-button (click)="showPopoverForConnections($event)" *ngIf="user.userMeta.followedByQueryingPerson"
                        fill="clear">
                {{getConnectionType()}}
                <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
            </ion-button>
            <ion-button (click)="showPopoverForConnections($event)" *ngIf="!user.userMeta.followedByQueryingPerson">
                {{getConnectionType()}}
                <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
            </ion-button>
            <ion-button slot="end">
                message
            </ion-button>
        </ion-item>
        <div *ngIf="user.userMeta.blacklistedByQueryingPerson" class="full-width">
            <div class="centered-container">
                <ion-button (click)="showUnblockDialogue($event)" color="danger" fill="outline">Unblock</ion-button>
            </div>
        </div>
    </ion-row>
</ion-grid>
