<ion-grid>
    <ion-row>
        <ion-col>
            <ion-avatar><img src="{{user.avatar}}" alt="avatar"></ion-avatar>
        </ion-col>
        <ion-col routerLink="/connection-list/{{user.id}}/followers">
            <ion-row>{{user.followersAmount}}</ion-row>
            <ion-row>followers</ion-row>
        </ion-col>
        <ion-col routerLink="/connection-list/{{user.id}}/following">
            <ion-row>{{user.followingAmount}}</ion-row>
            <ion-row>following</ion-row>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-text class="user-bio">{{user.bio}}</ion-text>
    </ion-row>
    <ion-row *ngIf="!isOwnProfile && user.userMeta">
        <ion-item lines="none" class="full-width">
            <ion-button slot="start" *ngIf="user.userMeta.isFollowed" fill="clear" (click)="unfollow($event)">
                Unfollow
            </ion-button>
            <ion-button slot="start" *ngIf="!user.userMeta.isFollowed" (click)="follow($event)">Follow
            </ion-button>
            <ion-button slot="end">
                message
            </ion-button>
        </ion-item>
    </ion-row>
</ion-grid>
