<ion-content>
    <ion-grid>
        <ion-row class="full-height">
            <ion-col size-md="6" offset-md="3" class="full-height">
                <ion-searchbar (ionInput)="search()" debounce="500" placeholder="nickname"></ion-searchbar>
                <ion-list *ngIf="foundUsers && foundUsers.length">
                    <app-user-miniature *ngFor="let u of foundUsers" [user]="u"></app-user-miniature>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
