<div *ngIf="users">
    <p class="slides-header">People you might know</p>
    <ion-slides [options]="slidesOpts" style="width: 100%">
        <ion-slide *ngFor="let u of users" class="user-slide">
            <ion-card routerLink="/profile/{{u.user.id}}">
                <ion-card-content>
                    <div class="centered-container">
                        <app-avatar [avatarUrl]="u.user.avatarUrl"></app-avatar>
                    </div>
                    <p>{{u.user.name}}</p>
                    <p>{{u.depthOfConnection}}nd degree collection</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</div>
