<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'profile/'+ ownerId"></ion-back-button>
        </ion-buttons>
        <ion-title>{{connectionType}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="full-height">
        <ion-row class="full-height">
            <ion-col size-md="4" offset-md="4" class="full-height">
                <ion-list *ngIf="connectedUsers && connectedUsers.length">
                    <ion-item *ngFor="let u of connectedUsers">
                        <app-user-miniature class="full-width" [user]="u"></app-user-miniature>
                    </ion-item>
                </ion-list>
                <div *ngIf="!connectedUsers || !connectedUsers.length" class="centered">
                    <div>
                        Nothing found!
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
