
.viewers-message, .others-message {
  white-space: pre-wrap;
  border-radius: 10px;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
}

.viewers-message {
  background: var(--ion-color-primary);
}

.others-message {
  background: var(--ion-color-tertiary);
}
