<ion-grid *ngIf="chatContent.isLeft()" class="ion-no-padding message-padding">
    <ion-row *ngIf="chatContent.left.senderId===viewerId" class="ion-justify-content-end">
        <ion-col size-md="6" size-sm="8" size-xs="10" class="ion-justify-content-end">
            <div style="width: 100%; display: flex; justify-content: flex-end">
                <div class="viewers-message ion-padding">
                    <span>{{chatContent.left.text}}</span>
                    <div class="ion-text-right">
                        {{chatContent.left.createdAt | date:'shortTime'}}
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="chatContent.left.senderId!==viewerId" class="ion-justify-content-start">
        <ion-col size-md="6" size-sm="8" size-xs="10">
            <div class="others-message  ion-padding ion-no-margin">
                <span>{{chatContent.left.text}}</span>
                <div class="ion-text-right">
                    {{chatContent.left.createdAt | date:'shortTime'}}
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
<div *ngIf="chatContent.isRight()" class="display-date">
    <div class="date-view">
        <span>
        {{chatContent.right | date: 'shortDate'}}
        </span>
    </div>
</div>

