
.viewers-message, .others-message {
  white-space: pre-wrap;
  border-radius: 10px;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
}

.viewers-message {
  background: var(--ion-color-primary);
}

.others-message {
  background: var(--ion-color-tertiary);
}

.display-date {
  width: 100%;
  display: flex;
  justify-content: center;
}

.date-view {
  border-radius: 10px;
  background: var(--ion-color-light);
}

.date-view * {
  padding: 10px;
}
