<ion-item *ngIf="!isOwnMiniature">
    <app-avatar [avatarUrl]="user.avatarUrl" routerLink="/profile/{{user.id}}" slot="start"></app-avatar>
    <ion-label routerLink="/profile/{{user.id}}">{{user.name}}</ion-label>
    <div *ngIf="user.userMeta" slot="end">
        <div *ngIf="!blacklistMiniature && !user.userMeta.blacklistedByQueryingPerson" class="centered-container">
            <ion-button (click)="unfollow($event)" *ngIf="user.userMeta.followedByQueryingPerson" fill="clear">
                Unfollow
            </ion-button>
            <ion-button (click)="follow($event)" *ngIf="!user.userMeta.followedByQueryingPerson">Follow</ion-button>
        </div>
        <div *ngIf="user.userMeta.blacklistedByQueryingPerson" class="centered-container">
            <ion-button (click)="showUnblockDialog($event)"
                        color="danger" fill="outline">
                Unblock
            </ion-button>
        </div>
        <div *ngIf="blacklistMiniature && !user.userMeta.blacklistedByQueryingPerson" class="centered-container">
            <ion-button (click)="showBlockDialog($event)"
                        color="danger">
                Block
            </ion-button>
        </div>
    </div>
</ion-item>
<ion-item *ngIf="isOwnMiniature">
    <app-avatar [avatarUrl]="user.avatarUrl" slot="start"></app-avatar>
    <ion-label>
        <h2>{{user.name}}</h2>
    </ion-label>
</ion-item>
