<ion-grid routerLink="/profile/{{user.id}}">
    <ion-row class="ion-justify-content-between">
        <ion-col size="3">
            <ion-avatar>
                <ion-img [src]="user.avatarUrl"></ion-img>
            </ion-avatar>
        </ion-col>
        <ion-col size="5">
            <ion-text>{{user.name}}</ion-text>
        </ion-col>
        <ion-col *ngIf="user.userMeta" size="4">
            <ion-button (click)="unfollow($event)"
                        *ngIf="shouldShowFollow() && user.userMeta.isFollowedByQueryingPerson" fill="clear">
                Unfollow
            </ion-button>
            <ion-button (click)="follow($event)"
                        *ngIf="shouldShowFollow() && !user.userMeta.isFollowedByQueryingPerson">Follow
            </ion-button>
            <ion-button *ngIf="!shouldShowFollow() && user.userMeta.isBlacklistedByQueryingPerson" color="danger"
                        (click)="showUnblockDialog($event)">
                Unblock
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
